@import "tailwindcss";

@theme {
  --color-primary-50: oklch(94.97% 0.026 242.74);
  --color-primary-100: oklch(89.89% 0.052 245.78);
  --color-primary-200: oklch(79.55% 0.11 246.7);
  --color-primary-300: oklch(71% 0.159 248.54);
  --color-primary-400: oklch(63.21% 0.202 254.09);
  --color-primary-500: oklch(51.47% 0.159 253.11); /* #0167bf */
  --color-primary-600: oklch(43.85% 0.134 252.79);
  --color-primary-700: oklch(36.53% 0.108 251.74);
  --color-primary-800: oklch(27.71% 0.079 250.31);
  --color-primary-900: oklch(19.37% 0.049 245.37);
  --color-primary-950: oklch(14.13% 0.03 235.42);

  --color-secondary-50: oklch(97.03% 0.012 4.74);
  --color-secondary-100: oklch(93.01% 0.03 5.04);
  --color-secondary-200: oklch(85.96% 0.064 6.35);
  --color-secondary-300: oklch(79.26% 0.098 7.41);
  --color-secondary-400: oklch(72.87% 0.135 9.3);
  --color-secondary-500: oklch(67.42% 0.168 11.86); /* #ea637b */
  --color-secondary-600: oklch(59.3% 0.217 18.37);
  --color-secondary-700: oklch(48.71% 0.182 19.25);
  --color-secondary-800: oklch(36.62% 0.133 18.3);
  --color-secondary-900: oklch(23.3% 0.077 15.6);
  --color-secondary-950: oklch(16.48% 0.05 10.77);

  --color-tertiary-50: oklch(97.42% 0.019 176.45);
  --color-tertiary-100: oklch(94.17% 0.04 176.8);
  --color-tertiary-200: oklch(88.86% 0.079 174.75);
  --color-tertiary-300: oklch(83.88% 0.112 172.86);
  --color-tertiary-400: oklch(79.84% 0.135 170.68);
  --color-tertiary-500: oklch(72.43% 0.138 167.9); /* #28C195 */
  --color-tertiary-600: oklch(61.93% 0.117 168.48);
  --color-tertiary-700: oklch(49.43% 0.092 168.48);
  --color-tertiary-800: oklch(37.41% 0.067 169.54);
  --color-tertiary-900: oklch(24.31% 0.04 169.9);
  --color-tertiary-950: oklch(17.83% 0.027 172.78);

  --color-danger-50: oklch(96.07% 0.016 22.08);
  --color-danger-100: oklch(92.14% 0.034 24.58);
  --color-danger-200: oklch(83.65% 0.076 25.87);
  --color-danger-300: oklch(76.6% 0.114 27.29);
  --color-danger-400: oklch(69.38% 0.16 28.26);
  --color-danger-500: oklch(63.84% 0.197 29.38);
  --color-danger-600: oklch(56.52% 0.209 30.5);
  --color-danger-700: oklch(46.3% 0.168 30.39);
  --color-danger-800: oklch(34.5% 0.12 30.58);
  --color-danger-900: oklch(22.82% 0.071 30.5);
  --color-danger-950: oklch(15.85% 0.043 30.67);
}

html, body {
  font-family: "Atma", system-ui;
  font-style: normal;
  font-size: 20px;
}

.pattern {
  background-color: var(--color-primary-500);
  background-image: url("/pattern.png");
  background-size: 120px;
  background-position: center;
  background-repeat: repeat;
}

.container {
  @apply mx-auto max-w-screen-lg px-4;
}
